* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f9f9f9;
  font-family: sans-serif;
  text-align: center;
  overflow: hidden;
}

#title {
  padding-top: 7px;
  z-index: 7;
  position: fixed;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  font-weight: 600;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  transition: top 300ms cubic-bezier(0.15, 0.85, 0.35, 1);
}

.dark #title {
  background-color: rgb(37, 34, 34);
  /* box-shadow: 0 1px 6px 0 rgb(255, 255, 255);
  transition: top 300ms cubic-bezier(0.15, 0.85, 0.35, 1); */
}

.theme {
  position: absolute;
  left: 30px;
  top: 0;
}
#theme-select {
  width: 100px;
  height: 30px;
}

svg {
  margin-top: 70px;
  /* border: 1px solid #ccc; */
}

.wire {
  stroke: black;
  stroke-width: 2;
  fill: none;
}

.electron {
  fill: red;
  r: 3;
}

.switch-base {
  fill: green;
}

.switch-handle {
  fill: red;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.lamp,
.resistor {
  fill: grey;
}

.lamp.on {
  fill: yellow;
}

.resistor.on {
  fill: orange;
}

.ground {
  fill: black;
}

/* 自适应开关 */
.text-switch,
.dialog-switch,
.drill-switch {
  display: none;
}
.text-switch + label,
.drill-switch + label,
.dialog-switch + label {
  display: inline-block;
  box-sizing: border-box;
  height: 22px;
  min-width: 44px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 100px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: all 0.36s;
  transition: all 0.36s;
  position: relative;
  background-color: #cccccc;
}
.text-switch:checked + label,
.drill-switch:checked + label,
.dialog-switch:checked + label {
  background-color: #1890ff;
}
.text-switch + label::before,
.drill-switch + label::before,
.dialog-switch + label::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 1px;
  top: 1px;
  border-radius: 18px;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  -webkit-transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 35, 11, 0.2);
}
.text-switch:checked + label::before,
.drill-switch:checked + label::before,
.dialog-switch:checked + label::before {
  left: 23px;
  transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  -webkit-transition: all 0.36s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.text-switch + label::after,
.drill-switch + label::after,
.dialog-switch + label::after {
  content: "关";
  position: absolute;
  top: 1px;
  left: 24px;
  font-size: 12px;
  color: #fff;
}
.text-switch:checked + label::after,
.drill-switch:checked + label::after,
.dialog-switch:checked + label::after {
  content: "开";
  left: 5px;
}

.adaptive,
.openDialog,
.drillMode {
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 150px;
  top: 0;
  line-height: 70px;
}
.openDialog {
  left: 270px;
}
.drillMode {
  left: 400px;
}

.dark {
  color: white;
  background-color: black;
}

text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.dark text {
  /* font-family: inherit;
  font-size: 16px; */
  fill: white;
  /* letter-spacing: -10px !important; */
}
/* 智能问答 */
.AIask {
  height: 40px;
  position: absolute;
  right: 30px;
  top: 15px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 400;
  padding: 0 10px;
  border: 1px solid #155aef;
  border-radius: 20px;
}
.AIask:hover {
  cursor: pointer;
}

.flex {
  display: flex;
}

#AIask-dialog {
  position: fixed;
  right: 10px;
  top: 80px;
  width: 40%;
  min-width: 800px;
  height: 90%;
  background-color: white;
  display: none;
  border-radius: 20px;
  text-align: left;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.dialog-header {
  padding: 0 10px;
  font-size: 25px;
  /* border-bottom: 1px solid #ccc; */
}
.userAsk {
  justify-content: flex-end;
}
.userAsk .avatar {
  margin-left: 10px;
}

.content-item-text {
  font-size: 18px;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 400;
  padding: 10px 20px 20px 20px;
  line-height: normal;
  width: 80%;
  background-color: rgb(141, 230, 230);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button-detail {
  border: none;
  font-size: 30px;
  width: 100%;
  min-height: 50px;
  height: auto;
  box-sizing: border-box;
  font-weight: 400;
}

.swal-modal {
  min-width: 600px;
}

.swal-modal {
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 10000;
}
.swal-footer {
  height: 76px;
}
.swal-button__loader {
  display: none;
}

.btn-float-left {
  float: left !important;
}

.dialog-footer {
  width: 100%;
  display: flex;
}
#ask-input {
  margin: 10px;
  flex: 1 auto;
  font-size: 18px;
  border: 1px solid #155aef;
  border-radius: 5px;
  padding: 5px;
}
#ask-btn {
  margin: 10px;
  margin-left: 0;
  min-width: 100px;
  background-color: #155aef;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.dark .ask-name {
  color: #000;
}
